<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tokenApp" value="4ppT0k3n" />
    <add key="appVersion" value="V1"/>
    <add key="fileLocation" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="svc">
          <security mode="Message" />
        </binding>
        <binding name="ServerEntryPoint">
          <security mode="Message" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8010/Serveur/Service"
        binding="netTcpBinding" bindingConfiguration="ServerEntryPoint"
        contract="proxy.IServerEntryPoint" name="ServerEntryPoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>